/* font styles */
.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-mono-regular-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-mono-bold {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-mono-bold-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}




body {
    background-color: #504945;

    color: #d5c4a1;
    font-size: 20px;

    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    margin: 0;
}

.header a {
    color: inherit;
    text-decoration: inherit;
}

.header {
    background-color: #282828;
    
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 1.5em; 
}

.header .name {
    color: #ebdbb2;

    font-size: 2rem;

    display: flex;
    align-items: center;
    align-content: center;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .header {
        height: 3vh;
    }

    .header .name {
        font-size: 1.5rem;
    }
}

.icon {
    width: 32px;
}

#links {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}



.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 4vh;
    margin: 0 25vw;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0 10vw;
    }
}

#typed {
    font-size: 8em;
}

@media only screen and (max-width: 600px) {
    #typed {
        font-size: 4em;
    }
}

#typed-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 5vh;
}

.content {
    display: flex;
    flex: 5 1 40vh;
    margin: 4vh 0;
}

.content #intro {
    padding: 0 5vw;
}



.footer {
    color: #7c6f64;
    font-style: italic;
    font-size: 1.1rem;

    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 4vh;
}
